.post-container {
    overflow: hidden; /* Prevent content overflow */
    max-width: 800px; /* Adjust maximum width to fit viewport width with padding */
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 12px;
    background-color: #fff;
  }
  
  .post-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
  }
  
  .post-date {
    font-size: 20px;
    color: rgb(44, 79, 97);
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Courier Prime';
  }
  
  .post-content {
    font-size: 22px;
    line-height: 1.8;
    color: #333;
    font-family: 'Georgia', serif; /* Apply Georgia font family */
}
  
  .post-content p {
    margin-bottom: 20px;
  }
  
  .post-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  